.agent/marketing/workflow-scout-auto.json
{
    "name": "Scout Agent - Confidence-Based Auto-Post",
    "nodes": [
        {
            "parameters": {},
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "id": "schedule-trigger",
            "notes": "Runs every 4 hours"
        },
        {
            "parameters": {
                "actorId": "apify/instagram-hashtag-scraper",
                "hashtags": [
                    "reformas",
                    "albañil",
                    "plomero",
                    "remodelacion",
                    "obraencasa"
                ],
                "resultsLimit": 50
            },
            "name": "Apify Instagram Scraper",
            "type": "n8n-nodes-base.apify",
            "typeVersion": 1,
            "position": [
                450,
                200
            ],
            "id": "apify-instagram"
        },
        {
            "parameters": {
                "actorId": "apify/facebook-groups-scraper",
                "groupUrls": [
                    "https://www.facebook.com/groups/example"
                ],
                "resultsLimit": 30
            },
            "name": "Apify Facebook Scraper",
            "type": "n8n-nodes-base.apify",
            "typeVersion": 1,
            "position": [
                450,
                400
            ],
            "id": "apify-facebook"
        },
        {
            "parameters": {
                "functionCode": "const allPosts = [];\n\nfor (const item of items) {\n  const json = item.json;\n  const id = json.id || json.url || Date.now().toString();\n\n  if (json.platform === 'instagram' || json.ownerUsername) {\n    allPosts.push({\n      source: 'instagram',\n      platform: 'instagram',\n      external_id: id,\n      post_url: json.url,\n      post_content: json.caption || '',\n      author_username: json.ownerUsername,\n      user_profile_url: `https://instagram.com/${json.ownerUsername}`,\n      username: json.ownerUsername\n    });\n  } else {\n    allPosts.push({\n      source: 'facebook',\n      platform: 'facebook',\n      external_id: id,\n      post_url: json.url,\n      post_content: json.text || '',\n      author_username: json.author,\n      user_profile_url: json.authorUrl || '',\n      username: json.author\n    });\n  }\n}\n\nreturn allPosts.map(post => ({ json: post }));"
            },
            "name": "Merge & Transform",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "id": "merge-transform"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "SELECT post_url FROM scout_leads WHERE post_url = '{{ $json.post_url }}'"
            },
            "name": "Check if Exists",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                850,
                300
            ],
            "id": "check-exists"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.length }}",
                            "operation": "equal",
                            "value2": 0
                        }
                    ]
                }
            },
            "name": "If New Post",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ],
            "id": "if-new"
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "You are analyzing social media posts for a construction marketplace. Return JSON with: intentScore (0-10), reason, suggestedReply (Spanish, max 200 chars). High scores mean urgent service demand."
                        },
                        {
                            "role": "user",
                            "content": "Post: {{ $json.post_content }}"
                        }
                    ]
                },
                "responseFormat": "json_object"
            },
            "name": "OpenAI Analysis",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ],
            "id": "openai-analysis"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.intentScore }}",
                            "operation": "largerEqual",
                            "value2": 9
                        }
                    ]
                }
            },
            "name": "If Ultra-High (9-10)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1450,
                200
            ],
            "id": "if-ultra-high",
            "notes": "Auto-post path"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.intentScore }}",
                            "operation": "largerEqual",
                            "value2": 7
                        },
                        {
                            "value1": "={{ $json.intentScore }}",
                            "operation": "smaller",
                            "value2": 9
                        }
                    ]
                }
            },
            "name": "If Medium (7-8)",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1450,
                400
            ],
            "id": "if-medium",
            "notes": "Manual review path"
        },
        {
            "parameters": {
                "operation": "insert",
                "table": "scout_leads",
                "data": {
                    "source": "={{ $json.source }}",
                    "external_id": "={{ $json.external_id }}",
                    "post_url": "={{ $json.post_url }}",
                    "post_content": "={{ $json.post_content }}",
                    "author_username": "={{ $json.author_username }}",
                    "intent_score": "={{ $json.intentScore }}",
                    "intent_reasoning": "={{ $json.reason }}",
                    "suggested_reply": "={{ $json.suggestedReply }}",
                    "status": "approved"
                }
            },
            "name": "Insert as Approved",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1650,
                100
            ],
            "id": "insert-approved",
            "notes": "Auto-approved for posting"
        },
        {
            "parameters": {
                "operation": "insert",
                "table": "scout_leads",
                "data": {
                    "source": "={{ $json.source }}",
                    "external_id": "={{ $json.external_id }}",
                    "post_url": "={{ $json.post_url }}",
                    "post_content": "={{ $json.post_content }}",
                    "author_username": "={{ $json.author_username }}",
                    "intent_score": "={{ $json.intentScore }}",
                    "intent_reasoning": "={{ $json.reason }}",
                    "suggested_reply": "={{ $json.suggestedReply }}",
                    "status": "pending_review"
                }
            },
            "name": "Insert as Pending",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                1650,
                400
            ],
            "id": "insert-pending",
            "notes": "Requires manual review"
        },
        {
            "parameters": {
                "url": "https://elentendido.ar/api/admin/scout/auto-post",
                "method": "POST",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "leadId",
                            "value": "={{ $json.id }}"
                        },
                        {
                            "name": "platform",
                            "value": "={{ $json.source }}"
                        },
                        {
                            "name": "postUrl",
                            "value": "={{ $json.post_url }}"
                        },
                        {
                            "name": "replyText",
                            "value": "={{ $json.suggested_reply }}"
                        }
                    ]
                }
            },
            "name": "Auto-Post Reply",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 1,
            "position": [
                1850,
                100
            ],
            "id": "auto-post",
            "notes": "Posts immediately via API"
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "✅ AUTO-POSTED (Score {{ $json.intentScore }}/10)\n\nPlatform: {{ $json.source }}\nUser: @{{ $json.author_username }}\n\nReply: {{ $json.suggested_reply }}\n\nView: {{ $json.post_url }}"
            },
            "name": "Notify Auto-Post",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                2050,
                100
            ],
            "id": "telegram-auto"
        },
        {
            "parameters": {
                "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
                "text": "⏸️ NEEDS REVIEW (Score {{ $json.intentScore }}/10)\n\nPlatform: {{ $json.source }}\nUser: @{{ $json.author_username }}\n\nPost: {{ $json.post_content.substring(0, 100) }}...\n\nReview at: https://elentendido.ar/admin/scout-queue"
            },
            "name": "Notify Manual Review",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1850,
                400
            ],
            "id": "telegram-manual"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Apify Instagram Scraper",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Apify Facebook Scraper",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Apify Instagram Scraper": {
            "main": [
                [
                    {
                        "node": "Merge & Transform",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Apify Facebook Scraper": {
            "main": [
                [
                    {
                        "node": "Merge & Transform",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge & Transform": {
            "main": [
                [
                    {
                        "node": "Check if Exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check if Exists": {
            "main": [
                [
                    {
                        "node": "If New Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If New Post": {
            "main": [
                [
                    {
                        "node": "OpenAI Analysis",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Analysis": {
            "main": [
                [
                    {
                        "node": "If Ultra-High (9-10)",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "If Medium (7-8)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Ultra-High (9-10)": {
            "main": [
                [
                    {
                        "node": "Insert as Approved",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If Medium (7-8)": {
            "main": [
                [
                    {
                        "node": "Insert as Pending",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert as Approved": {
            "main": [
                [
                    {
                        "node": "Auto-Post Reply",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Insert as Pending": {
            "main": [
                [
                    {
                        "node": "Notify Manual Review",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Auto-Post Reply": {
            "main": [
                [
                    {
                        "node": "Notify Auto-Post",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 1,
    "updatedAt": "2026-02-07T13:00:00.000Z",
    "versionId": "2"
}